<footer class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Gallery</a></li>
      <li class="nav-item"><a href="/designer" class="nav-link px-2 text-muted">Designer</a></li>
      <li class="nav-item"><a href="/characteristics" class="nav-link px-2 text-muted">Characteristics</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 {{site.title}}</p>
    <p class="text-center text-muted">&copy; All text content cited from <a href="https://baike.baidu.com/item/%E5%9C%86%E6%98%8E%E5%9B%AD%E5%8D%81%E4%BA%8C%E7%94%9F%E8%82%96%E5%85%BD%E9%A6%96%E9%93%9C%E5%83%8F/1891970?fr=aladdin">Baidu</a></p>
  </footer>
</footer>